.mybox {
	background: #080;
	padding: -10;
}

view.mybox {
	padding: 10;
}

container {
	width: 800;
	layout: vertical;
}

layoutLine {
	width: 800;
	layout: horizontal;
	background: #231f20;
	padding: 10;
	margin-bottom:10;
}

layoutLine.smallLine {
	padding: 0;
}

layoutLine.titleLine {
	align: center top;
}

layoutCol {
	width: 266;
	layout: vertical;
}

bitmapTitle {
	width: 380;
	align: center bottom;
}

layoutCol.title {
	content-align: left top;
	width: 380;
}

layoutCol.date {
	content-align: right top;
	width: 320;
}

title {
	color: white;
}

title.titleText {
	content-align: left center;
}

title.date {
	content-align: right;
}

button {
	background: #333;
	height: 30;
}

button.checkbox {
	background: #333;
	height: 15;
	width: 15;
}

button.highlight {
	background: #a33;
}

button.start {
	height: 50;
	width: 250;
}

button text {
	align: middle middle;
}

button:hover {
	background: #444;
}

button:active {
	background: #222;
}